.section{
  width: 365px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  background-color: #1a1a1a;
}