.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  background-color: #1a1a1a;
  text-align: center;
  cursor: pointer;
}