.section{
  display: flex;
  width: 315px;
  height: 230px;
  background-color: #1a1a1a;
  box-shadow: inset 5px 5px 20px 0px rgb(0, 0, 0, 0.5);
}
.textarea{
  width: 265px;
  height: 180px;
  margin: auto;
  background:none;
  border: none;
  resize: none;
  color: #e5e5e5;
  font-size: 30px;
}
.textarea:focus{
  outline: none !important;
}
