*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  font-family: Poppins;
  border-radius: 0;
  color: #747474;
}
body{
  background-color: #cca2aa;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #747474;
}
::-webkit-scrollbar-thumb {
  background: #202020;
}
::-webkit-scrollbar-thumb:hover {
  background: #011011;
}