main{
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 365px;
  height: 800px;
  background-color: #1a1a1a;
  margin: auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 315px;
  height: 20px;
}
header>a{
  display: flex;
  color: #CDCDCD;
  line-height: 20px;
  font-size: 14px;
  transition: 0.1s;
  text-decoration: underline 2px rgba(0, 0, 0, 0);
  text-underline-offset: 5px;
}
.active{
  color: #F63356;
  text-decoration: underline 2px #F63356;
}